body{
  background-color: rgb(167, 177, 187);
  border: 3px solid black;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: sans-serif;
  text-align: left;
  border-radius: 3px black;
  display: flex;
  flex-direction: column;
}

.home {
  background: rgba(128, 128, 128, 0.459);
  margin-bottom: 12px;
  padding: 1.5rem;
  border-radius: 10px;
  border: 3px solid black;
}

.Addbtn{
  padding: 6px 30px;
  border-radius: 6px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  background: #1f77d0;
  color: white;
  margin-left: 75%;
}

.btn {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  background: #1f77d0;
  color: white;
  margin: 3px;
}

.btn:hover {
  background: #14589b;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 2rem;
}
